<html>
  </head>
    <title>Find Bebe</title>
  </head>
  <body>
    <h1>Find Bebe</h1>
    
    <form action='/' method='POST'>
      <p>
        Please enter your pet's description
      </p>
      <input type='text' name='pet_name'/><br>
      <textarea name='pet_description'></textarea><br>
      <input type='submit'/>
    </form>

    <h3>Active Pet Listings</h3>
    <ul>
      <% pets.each_with_index do |pet, id| %>
      <li>
        <%= pet.name %>
        <%= pet.description %>
        <a href="/<%= id %>/edit">Edit</a>
        <form action="/<%= id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete"/>
        </form>
      </li>
      <% end %>
    </ul>
  </body>
</html>
